
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Descargar IEApp</title>
</head>
<body style="display:-webkit-flex;display:flex;justify-content:center;align-content:center">
    <div style="display:-webkit-flex;display:flex;justify-content:center;align-content:center;flex-direction:column;flex-direction:column">
        <h2>Descargar IEApp</h2>
        <div style="text-align:center">
            <img src="~/Content/icon-96-xhdpi.png" />
        </div>
        <a href="/API/Download"
           style="width: 100%;
                        color: #FFFFFF!important;
                        background-color: #1473e6!important;
                        border-color: #1473e6!important;
                        border-width: 1px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        text-align: center;
                        text-decoration: none;"
        >Descargar</a>
    </div>
</body>
</html>
